html {
    font-size: 2vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica', sans-serif;
}



#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}



/*Titelskærm*/



/*

#start {
    background-image: url(titelsk%C3%A6rm.svg);
    background-size: 100%;
    width: 100vw;
    height: 55vw;
    position: relative;
    z-index: 1;
    display: ;

}

*/

#start {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    background-image: url(titelsk%C3%A6rm.svg);
    background-size: 100%;
    z-index: 100;
}




/*spilleskærm*/

#game {
    background-image: url(startsk%C3%A6rm.svg);
    background-size: 100%;
    width: 100vw;
    height: 55vw;
    position: absolute;
}

/*

#game_background {
    background-image: url(startsk%C3%A6rm.svg);
    background-size: 100%;
    width: 100%;
    height: 55vw;
    position: absolute;
    z-index: 1;
    display: none;

}


*/




/*alle elementerne*/


#bananskrald {
    background-image: url(bananskrald.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 15vw;
    height: 20vw;
    left: 60vw;
    top: 40vw;
}



#drink {
    background-image: url(drink.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 10vw;
    height: 20vw;
    left: 45vw;
    top: 35vw;
    transform: rotate(-20deg);
}


#flaske {
    background-image: url(flaske.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 10vw;
    height: 20vw;
    left: 35vw;
    top: 25vw;
    transform: rotate(70deg);
}

#katon {
    background-image: url(katon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 7vw;
    height: 20vw;
    left: 56vw;
    top: 18vw;
    transform: rotate(-70deg);
}

#papir {
    background-image: url(papir.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 5vw;
    height: 20vw;
    left: 24vw;
    top: 40vw;
}

#plastikpose {
    background-image: url(plastikpose.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 10vw;
    height: 20vw;
    left: 23vw;
    top: 23vw;
    transform: rotate(-35deg);

}

#sug {
    background-image: url(sug.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 11vw;
    height: 20vw;
    left: 70vw;
    top: 25vw;
    transform: rotate(1740deg);
}

#vinflaske {
    background-image: url(vinflaske.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 9vw;
    height: 50vw;
    left: 0.0vw;
    top: 26vw;
    transform: rotate(20deg);
}

#aable {
    background-image: url(aable.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 9vw;
    height: 30vw;
    left: 10vw;
    top: 43vw;
    transform: rotate(7deg);
}





/*UI*/



#game_ui time {
    background-image: url(tidslinje.svg);
    background-size: cover;
    width: 90%;
    height: 20vw;
    background-size: 70%;
    background-repeat: no-repeat;
    position: absolute;
    top: 1vw;
    left: 16vw;
    z-index: 5;
}



/*#points {*/

/*
    position: absolute;
    top: 7vw;
    left: 43vw;

    font-size: 5rem;
    font-weight: 900;
*/


#points {
    position: absolute;
    top: 2vw;
    left: 78vw;
    color: #196019;
    width: 2.4rem;
    font-size: 2.4rem;
    font-family: sans-serif;
    text-align: center;
    z-index: 5;
    font-weight: bold;
}

#time {
    position: absolute;
    top: 3vw;
    left: 5vw;
    color: #196019;
    width: 2.4rem;
    font-size: 2.4rem;
    font-family: sans-serif;
    text-align: center;
    z-index: 104;
    font-weight: bold;
}


#play {
    background-image: url(play.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    position: absolute;
    width: 130vw;
    height: 20vw;
    left: 41.5vw;
    top: 16vw;
    transform: rotate(7deg);
}


#retry {
    background-image: url(retry.svg);
    background-repeat: no-repeat;
    background-size: 6%;
    position: absolute;
    width: 130vw;
    height: 40vw;
    top: 27vw;
    left: 46vw;
    z-index: 100;
}


#retry2 {
    background-image: url(retry.svg);
    background-repeat: no-repeat;
    background-size: 6%;
    position: absolute;
    width: 130vw;
    height: 40vw;
    top: 22vw;
    left: 46vw;
    z-index: 99;
}



#setting_push1 {
    background-image: url(menu.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    height: 6vw;
    width: 9vw;
    position: absolute;
    left: 86vw;
    top: 2vw;
    z-index: 4;
}



#setting_push {
    background-image: url(menu.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    height: 6vw;
    width: 9vw;
    position: absolute;
    left: 86vw;
    top: 2vw;
    z-index: 1;
}



/*

#setting_screen {
    background-image: url(setting.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vw;
    position: absolute;
    text-align: center;
}
*/

#setting_screen {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 60vw;
    height: 45vw;
    background-color: rgba(239, 151, 32, 0.86);
    top: 5vw;
    left: 20vw;
    border-radius: 2vw;
    color: white;
    z-index: 101;
}







#setting_close {
    position: absolute;
    left: 56vw;
    top: 2vw;
    width: 2vw;
    height: 2vw;
    background-image: url(grey_close_x.svg);
    background-size: 100%;
}


#gameover {
    background-image: url(gameover.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vw;
    left: 22vw;
    bottom: 0vw;
    position: relative;
    z-index: 5;
}


#levelcomplete {
    background-image: url(vundet.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    width: 90%;
    height: 55vw;
    left: 27vw;
    position: relative;
    z-index: 5;
}



/*animation */



.fadeIn {
    animation-name: fadein_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes fadein_kf {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




.fadeOut {
    animation-name: fadeout_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes fadeout_kf {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 2;
    }

    100% {
        opacity: 1;
    }
}




/*hide tag*/
.hide {
    display: none;
}

.show {
    display: none;
}





/*javascipt*/




.pulse {
    animation-name: pulse_kf;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


/*animation */

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}



.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }



    /*   LYD*/

    #sfx,
    #music {
        background-size: 500% 100%;
        width: 10vw;
        height: 10vw;
        display: inline-block;
    }



    .good {
        background-image: url(bananskrald.svg);
        background-image: url(flaske.svg);
        background-image: url(katon.svg);
        background-image: url(papir.svg);
        background-image: url(vinflaske.svg);
        background-image: url(aable.svg);
        background-repeat: no-repeat;
    }


    .bad {
        background-image: url(sug.svg);
        background-image: url(drink.svg);
        background-image: url(plastikpose.svg);
        background-repeat: no-repeat;
    }


    /*SPRITE*/

    #sfx_sprite,
    #music_sprite {
        background-size: 500% 100%;
        width: 10vw;
        height: 10vw;
        background-image: url(Toggle_sprite.svg);
        position: absolute;
        display: inline-block;
        z-index: 102;
        border: 2px;
        border-color: red;

    }

    #sfx_sprite {
        top: 20vw;
        bottom: 30vw;
        position: absolute;
        z-index: 300;
        background-image: url(Toggle_sprite.svg);
    }


    #music_sprite {
        top: 15vw;
        bottom: 40vw;
        position: absolute;
        z-index: 300;
    }


    #skraldespand_container {
        position: absolute;
    }



    skraldespand_sprite {
        width: 18vw;
        height: 18vw;
        background-image: url(skraldespand_sprite.svg);
        background-size: 500% 100%;
        z-index: 300;

    }

    .blink {
        animation-name: blink_kf;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(3);
    }

    @keyframes blink_kf {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: -400% 0%;
        }
    }





    .on {
        background-position: 0;
        /*    background-color: green;*/
    }

    .off {
        background-position: -400% 0;
        /*    background-color: red;*/
    }


    .off_on {
        animation-name: on_off_kf;
        animation-direction: reverse;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: steps(4);
    }

    .on_off {
        animation-name: on_off_kf;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: steps(4);
    }

    @keyframes on_off_kf {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: -400% 0;
        }
    }
